<!DOCTYPE html>
<html lang="en">
<head>
    <title>Passport-VKontakte Example</title>
</head>
<body>
    <p>
        <a href="/">Home</a> |
        <a href="/resource">Account</a> |
        <a href="/logout">Log Out</a>
    </p>
{{{body}}}
</body>
</html>
