@model JsonLib.Phone

@{
    ViewBag.Title = "Add";
}

@using Lab6.Helpers

@section Header
{
    <header>
        <h2>Add</h2>
    </header>
}

@Html.AddPhoneForm()

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Footer
{
    <footer>
        <h2>Created by Ovsyanka</h2>
    </footer>
}