@model IEnumerable<JsonLib.Phone>

@{
    ViewBag.Title = "Index";
}

@section Header
{
    <header>
        <h2>JSON</h2>
    </header>
}

<p>
    @Html.ActionLink("Create New", "Add")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        Html.RenderPartial("_Phone", item);
    }

</table>
@section Footer
{
    <footer>
        <h2>Created by Ovsyanka</h2>
    </footer>
}