svg
{
	height: 500px;
	width: 1000px;
	border: 2px double black;
	fill: #FAEBD7;
}

text
{
	font-family: cursive;
	font-size: 60px;
	fill: #4B0082;
	font-weight: 900; /*задаёт насыщенность шрифта*/
}

tspan
{
	font-size: 50px;
	fill: #483D8B;
	font-family: Serif;
	font-weight: 500;	
	text-decoration: underline;
}