<div class="contact" data-key="{{id}}"
{{#if @root.canGetButtons}}
     onclick="window.location.href = '/update?id={{id}}'"
{{/if}}>
<p>&#9742;&nbsp;&nbsp;<b>{{name}}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{phone}}</p>
</div>
